{% extends "templates/layout.html" %}
{% set activePage = "notes" %}


{% block title %}Lecture Notes{% endblock %}



{% block content %}
<h1 class="page-title">Lecture Notes</h1>
{% for category, notes in data.notes | groupby("category") %}
<h2 {% if loop.index == 1 %}class="u-margin-top-none"{% endif %}>
	{% if category == "course" %}	
		Courses and Minicourses
	{% elif category == "seminar" %}
		Seminar Talks
	{% endif %}
</h2>

<div class="lecture-notes">

	{% for note in notes %}
	<div class="lecture-note">
		<h3 class="lecture-note__title">{{ note.title }}</h3>
		<p>{{ note.description | safe}}</p>
		<!--	 <p><a href="{{ note.location.url }}">{{ note.location.name }}</a></p> -->
		<ul class="lecture-note-files">
			{% for file in note.files  %}
			<li class="lecture-note-file">
				<a href="{{ file.path }}{{ file.filename }}">
					<span class="lecture-note-file__title">{{ file.name }} (PDF)</span>
					<span class="lecture-note-file__description">{{ file.description }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>
 {% endfor %}
{% endblock %}
